.page-blog{
  height: auto;
  overflow: hidden;
  padding: 3em 0;
  .section-title{
    padding-bottom: 1.3em;
  }
  .section .section-title{
    margin-bottom: 0;
  }
  .section .section-description{
    padding: 1em 0;
  }

  article{
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    font-weight: 400;
    padding: 2em 0;
    border-bottom: 1px solid #eee;
    &:first-child{
      padding-top: 0;
    }
    .entry{
      .entry-header{
        padding-bottom: 0.5em;
        .entry-title{
          text-transform: uppercase;
          margin-top: 0;
          margin-bottom: 8px;
          font-size: 1.4em;
          font-weight: 700;
          line-height: 1.1;
          a{
            transition: color $transition_time ease-in-out;
            text-decoration: none !important;
            color: #000;
            &:hover{
              color: $colors-orange !important;
            }
          }
        }
      }

      .entry-summary{
        margin-bottom: 15px;
        p{
          text-align: justify;
        }
      }
      .entry-meta{
        border-top: 1px solid rgba(255,255,255,0.35);
        color: rgba(0,0,0,0.6);
        font-size: 12px;
        font-weight: 700;
        letter-spacing: .8px;
        //text-transform: uppercase;
        letter-spacing: 1px;
        .table{
          width: 100%;
        }
        .entry-date{
        }
      }
      .link-wr{
        text-align: right;
        .button{
          max-width: 100%;
          border-radius: 30px;
          box-shadow: none;
          outline: none !important;
          padding: 0.7em 1.2em;
          text-align: left;
          display: inline-block;
          letter-spacing: 0.02em;
          background: transparent;
          border: 2px solid $colors-orange;
          color: $colors-orange;
          /*font-weight: 700;*/
          font-style: normal;
          cursor: pointer;
          font-size: 1.2em;
          text-transform: none;
          transition: background $transition_time ease-in-out;
          text-decoration: none !important;
          &:hover{
            background: $colors-orange;
            border-color: $colors-orange;
            color: #fff !important;
          }
        }
      }
    }

    &:last-child{
      border-bottom: none !important;
    }
  }
}

.sidebar-wr{
  /*padding: $menu-height + 40px 1em 0 0;*/
  .widget-title{
    text-align: left;
    font-size: 1.4em !important;
    padding-bottom: 0.5em;
  }
  .sidebar{
    font-weight: 400;
    padding: 1em;
    overflow: hidden;
    background: #fafafa;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);

    .widget.widget_search{
      text-align: center;
      .input-group-addon, .input-group-btn{
        width: 100%;
      }
      .input-group{
        margin: 0 auto;
        width: auto;
      }
      .input-group-btn{
        width: 150px;
      }
      .searchBox{
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
      }

      input, button{
        width: 150px;
        height: 50px;
        max-width: 100%;
        background: #f2f2f2;
        border: 1px solid #d7d7d7;
        //border-radius: 30px;
        box-shadow: none;
        outline: none !important;
        font-weight: 300;
        font-style: italic;
        color: #000;
        padding: 0.7em 5%;
        text-align: left;
        transition: border $transition_time ease-in-out;
        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          font-style: italic;
          color: #000 !important;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          font-style: italic;
          color: #000 !important;;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
          font-style: italic;
          color: #000 !important;;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          font-style: italic;
          color: #000 !important;;
        }

        &[type="submit"]{
          text-align: center;
          //width: auto;
          //margin-top: 0.5em;
          border-top-right-radius: 30px;
          border-bottom-right-radius: 30px;
          padding: 0.87em 2em;
          letter-spacing: 0.02em;
          background: #ececec;
          //border-color: $colors-orange;
          color: #000;
          font-style: normal;
          font-weight: 900;
          cursor: pointer;
          transition: background $transition_time ease-in-out, color $transition_time ease-in-out;
          &:hover{
            background: $colors-orange;
            color: #fff !important;
          }
        }
        &:focus, &:active{
          border: 1px solid #acacac;
        }

      }

      button[type="submit"]{
        width: 100% !important;
      }
    }

    .widget_recent_entries{
      padding-top: 1em;
      ul{
        //padding-left: 1em;
        li{
          font-size: 0.9em;
          padding: 0.7em 0;
          border-bottom: 1px solid #eee;
          &:last-child{
            border-bottom: none;
          }
          a{
            position: relative;
            color: #000;
            &:before{
              display: none;
              content: "";
              position: absolute;
              top: 0.5em;
              left: -0.9em;
              border-radius: 50%;
              background: #000;
              width: 4px;
              height: 4px;
            }
            text-decoration: none !important;
            transition: color $transition_time ease-in-out;
            &:hover{
              color: $colors-orange !important;
            }
          }
        }
      }
    }
  }
}




// Single post
.posts-nav{
  text-align: center;
  .posts-link{
    margin:0 10px;
    max-width: 100%;
    border-radius: 30px;
    box-shadow: none;
    outline: none !important;
    padding: 0.7em 1.2em;
    text-align: left;
    display: inline-block;
    letter-spacing: 0.02em;
    background: transparent;
    border: 2px solid $colors-orange;
    color: $colors-orange;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
    font-size: 0.9em;
    text-transform: uppercase;
    transition: background $transition_time ease-in-out;
    a{
      color: $colors-orange;
      text-decoration: none !important;
    }
    &:hover{
      background: $colors-orange;
      border-color: $colors-orange;
      a{
        color: #fff !important;
      }
    }
  }
}

.post-info{
  padding-bottom: 1.5em;
  .left{
    width: 50%;
    text-align: right;
    display: block;
    float: left;
    text-align: left;
  }
  .right{
    padding-top: 0.6em;
    width: 50%;
    display: block;
    float: left;
    text-align: right
  }
}
.author{
  .circle{
    float: left;
    height: 5em;
    width: 5em;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #eee;
  }
  .name{
    padding-top: 1em;
    float: left;
    padding-left: 2em;
    line-height: 1.4;
    .role{
      font-size: 0.9em;
      color: #d1d0d0;
    }
    .data{
      color: #595959;
      post-weight: 700;
      font-weight: 400;
      font-size: 1.1em;
    }
  }
  &.small{
    height: auto;
    overflow: hidden;
    padding-bottom: 1em;
    font-size: 0.9em;
    .circle{
      width: 3em;
      height: 3em;
    }
    .name{
      padding-top: 0.2em;
    }
  }
}

.single-post{
  article{
    border: none !important;
  }

}

.wp-pagenavi{
  font-weight: 400 !important;
  padding: 3em 0 !important;
  text-align: center !important;
  span, a{
    color: #000 !important;
    border: none !important;
    outline: none !important;
    cursor: pointer !important;
    padding: 0 0.5em !important;
    transition: color $transition_time ease-in-out;
    text-decoration: none !important;
    &:hover{
      color: $colors-orange !important;
    }
  }

  .pagination{
    padding-top: 3em;
    ul{
      li{
        display: inline-block;
        padding: 0 0.5em 0 0;
        a{
          font-weight: 500;
          transition: color $transition-time ease-in-out, border $transition-time ease-in-out;
          &.active{
            color: $colors-orange;
            font-size: 1.1em;
            border-bottom: 1px solid #dd281d;
          }
        }
      }
    }
  }
}