@media only screen and (min-width : 1600px) {

}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {
  .page-blog{
    .post-info{
      font-size: 0.9em;
      .left, .right{
        width: 100%;
        display: block;
      }
      .right{
        text-align: center !important;
      }
    }
  }
}


@media only screen and (max-width : 320px) {

}