@media only screen and (min-width : 1600px) {

}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {
  .page-home .what-we-do .items .overlay-wrap{
    display: none !important;
  }
  .page-home .what-we-do .sphere.left{
    left: -2em;
  }
}

@media only screen and (max-width : 768px) {
  .page-home .what-we-do .diagram
  {
    width: 30em;
    height: 30em;
    font-size: 0.8em;
  }
  .page-home .what-we-do .diagram .item.n3{
    top: 20em;
  }
  .page-home .what-we-do .diagram .item.n4{
    top: 20em;
  }
  .page-home .what-we-do .diagram .head{
    font-size: 1.6em;
  }
  .page-home .what-we-do .sphere.bottom{
    font-size: 0.5em;
  }
  .section .section-title{
    font-size: 1.1em;
  }
}

@media only screen and (max-width : 480px) {
  .page-home .what-we-do .diagram{
    font-size: 0.7em;
    width: 26em;
    height: 26em;
  }
  .page-home .what-we-do .diagram .item.n5{
    top: 4em;
    left: -6em;
  }
  .page-home .what-we-do .diagram .item.n2{
    top: 4em;
    right: -6em;
  }
  .page-home .what-we-do .diagram .item.n3, .page-home .what-we-do .diagram .item.n4{
    top: 17em;
  }
  .page-home .what-we-do .diagram .head{
    font-size: 1.4em;
  }
  .page-home .what-we-do .items .item{
    padding: 4em 1em;
  }
  footer .footer-menu .list ul li{
    display: block;
  }
  .section .section-title{
    font-size: 0.8em;
  }
}


@media only screen and (max-width : 320px) {

}