.page-home
{
  padding-top: 6em;
    .what-we-do
    {
        .sphere.left
        {
          position: absolute;
          z-index: 3;
          top: 20em;
          left: 5em;

          display: block;

          width: 6em;
          height: 6em;

          border-radius: 50%;
          background: #f60;
          background: linear-gradient(135deg, #f60 0%,#f60 23%,#b700b1 79%);
          filter: drop-shadow(0 10px 6px rgba(100, 10 , 0, .2));
        }
        .sphere.bottom
        {
          position: absolute;
          z-index: 2;
          bottom: 14em;
          left: -4em;

          display: block;

          width: 13em;
          height: 13em;

          border-radius: 50%;
          background: #ffffff; /* Old browsers */
          background: -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #ffffff 0%,#dddddd 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #ffffff 0%,#dddddd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

          filter: drop-shadow(0 16px 6px rgba(100, 10 , 0, .2));
        }

        .diagram
        {
          position: relative;
          width: 38em;
          height:38em;
          margin: 8em auto 6em auto;
          border-radius: 50%;
          border: 3em solid #efefef;
          z-index: 5;
            .head
            {
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              margin: auto;
              width: 6em;
              height: 6em;
              text-align: center;
              border-radius: 50%;
              line-height: 6em;
              text-transform: uppercase;
              color: #fff;
              font-size: 2em;
              font-weight: 700;

              background: #f60;
              background: linear-gradient(135deg, #f60 0%,#f60 23%,#b700b1 79%);
              filter: drop-shadow(0 10px 6px rgba(100, 10 , 0, .2));
            }
            .item
            {
              border-radius: 50%;
              width: 10em;
              height: 10em;
              position: absolute;
              text-align: center;
              background: #fff;
              border: 4px solid #f7f7f7;
              margin: auto;
              .content{
                background: #4980af;
                width: 90%;
                height: 90%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin:auto;
                border-radius: 50%;
                color: #ffffff;
                font-weight: 500;
                font-size: 0.85em;
                text-transform: uppercase;
              }
              &.n1
              {
                top: -6em;
                left: 0;
                right: 0;
              }
               &.n2
              {
                 top: 6em;
                 right: -6em;
              }
              &.n3
              {
                top: 24em;
                right: -2em;
              }
              &.n4
              {
                top: 24em;
                left: -2em;
              }
              &.n5
              {
                top: 6em;
                left: -6em;
              }
            }
        }
        .items
        {
            .item
            {
                position: relative;

                padding: 4em;
                min-height: 20em;
                &.highlited
                {
                    &:before
                    {
                    	z-index: 1;
                        position: absolute;
                        top: 0;
                        left: 0;

                        display: block;

                        width: 100%;
                        height: 4px;

                        content: '';
                    }
                    &.orange
                    {
                        &:before
                        {
                            background: #f63;
                        }
                    }
                    &.violet
                    {
                        &:before
                        {
                            background: #c0f;
                        }
                    }
                }


                .index
                {
                    font-family: 'Days One', sans-serif;
                    font-size: 1.300em; //24px

                    position: absolute;
                    top: 1.333em;
                    left: 1.333em;
                }

                .title
                {
                    font-family: 'Days One', sans-serif;
                    font-size: 1.6em;  //30px

                    padding-bottom: .6em;

                    text-align: left;
                }

                .content
                {
                    text-align: left;
                    color: #979797;
                }

                .overlay
                {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  margin: auto;
                  display: inline-block;
                  font-family: 'Days One', sans-serif;
                  color: #f7f7f7;
                  font-size: 18em;
                  color: #f7f7f7;
                  top: -0.2em;
                  text-align: center;
                  line-height: 1.3 !important;
                }
            }
        }
    }

    .latest-works{
      padding-bottom: 5em;
      height: auto;
      overflow: hidden;
        .items{
          width: 98%;
          margin: 0 auto;
          .item{
            margin-bottom: 2%;
            padding: 0 1%;
            border-radius: 6px;
            .content{
              border-top-right-radius: 8px;
              border-top-left-radius: 8px;
              overflow: hidden;
              position: relative;
              height: 20em;
              &:after{
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.3);
                transition: background $transition-time ease-in-out;
              }
            }
            .table{
              height: 100%;
            }
            .info{
              position: relative;
              z-index: 1;
              padding: 0 3em;
              .title{
                font-family: Days One,sans-serif;
                text-align: center;
                text-transform: uppercase;
                font-size: 1.5em;
                color: #fff;
                transition: all $transition-time ease-in-out;
              }

            }

            &:hover{
              //.title{
              //  display: none;
              //  opacity: 0;
              //  visibility: hidden;
              //}
              //.description{
              //  display: block;
              //  transform: translateY(0);
              //  visibility: visible;
              //  opacity: 1;
              //}
              //.content:after{
              //  background: rgba(0,0,0,0.7);
              //}
            }

            .description{
              background: #eee;
              font-size: 0.9em;
              min-height: 15em;
              text-align: justify;
              padding-top: 1em;
              padding-bottom: 1.5em;
              color: #686868;
              border-bottom-right-radius: 8px;
              border-bottom-left-radius: 8px;
            }
          }
        }
    }
}

// Firefox fix
@-moz-document url-prefix() {
  .page-home .what-we-do .diagram .item .content{
    top: 5%;
  }
}