.page-careers
{
  height: auto;
  overflow: hidden;
  padding-bottom: 4em;
  .section{
    .desc{
      position: relative;
    }
  }
  .info
  {
    padding: 2em 0;
    .title{
      font-size: 2em;
      font-weight: 500;
      padding-bottom: 1em;
    }
    .desc{
      font-size: 1.2em;
    }
  }

  .our-culture{

  }

  .careers
  {
    padding: 2em 0 0 0;
    .item
    {
      box-shadow: 0 3px 3px 2px rgba(0,0,0, 0.1);
      padding-top: 2em;
      padding-bottom: 2em;
      background: #4980af;
      margin-bottom: 2em;
      cursor: pointer;
      transition: background $transition_time ease-in-out, color $transition_time ease-in-out;
      color: #fff;
      > div {
        text-align: center;
        position: relative;
        &:not(:last-child):after{
          display: block;
          position: absolute;
          content: '';
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          height: 100%;
          width: 2px;
          background: #ddd;
        }
      }
      .title
      {
        text-transform: uppercase;
        font-weight: 400;
      }
      .specialization
      {

      }
      .location
      {

      }
      .link
      {
        a{
          cursor: pointer;
           font-weight: 400;
           color: #fff;
           transition: color $transition_time ease-in-out;
           &:hover{
             color: $colors-orange !important;
           }
          }
      }
      &:hover {
        background: #fff;
        color: #000;
        .link a{
          color: #000;
        }
      }
    }
  }

  .single-career-content{
    height:auto;
    overflow: hidden;
    padding: 3em 0;
    .job-desc{
      padding-top: 2em;
      .job-section{
        .title{
          margin: 0 !important;
          padding-bottom: 0.5em !important;
          font-size: 2em !important;
        }
        .job-section-info{}
      }
    }
  }

  .social-share
  {
    padding: 1.5em 0 !important;
    text-align: center;

    .title
    {
      color: $colors-orange;
      padding-bottom: 1em;
    }
    .social-btn{
      display: inline-block;

      width: auto;
      max-width: 100%;
      padding: .8em;
      background: #fff;
      resize: none;
      transition: all $transition-time ease-in-out;
      text-align: left;
      //font-weight: 300;
      color: #fff;
      border: 3px solid #ededed !important;
      border-radius: 0 !important;
      outline: none !important;
      box-shadow: none !important;
      text-align: center;
      cursor: pointer;
      opacity:1;

      i{
        padding-right: 1em;
        color: #fff;
        transition: color $transition-time ease-in-out;
      }
      &:hover{
       opacity: 0.7;
      }
      &.google{
        background: #dd4b39;
      }
      &.linkedin{
        background: #0077B5;
      }
      &.facebook{
        background: #3b5999;
      }
      &.twitter{
        background: #55acee;
      }
    }
  }
}