@media only screen and (min-width : 1600px) {

}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {
  .page-careers .careers .item{
    > div {
      padding: 0.5em 0;
      &:after{
        display: none !important;
      }
      &:nth-child(2n+1){
        clear: left;
      }
    }
  }
}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {
  .page-careers .careers .item>div{
    display: block;
    width:100%;
    text-align: left !important;
  }
  .page-careers .careers .item{
    padding: 0.5em 1em;
  }
  .page-careers .social-share .social-btn{
    font-size: 0.85em;
  }
}


@media only screen and (max-width : 320px) {
  .page-careers .social-share .social-btn{
    width: 100%;
    font-size: 1em;
    margin-bottom: 0.3em;
  }
}