<!DOCTYPE html>
<html ng-app="mplify">
    <head>
        <meta charset="UTF-8">
        <base href="/">

        <title ng-bind="ngMeta.title"></title>
        <meta name="description" content="{{ngMeta.description}}" />

        <link rel="icon" href="/app/assets/img/favicon.ico" type="image/x-icon">

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Days+One|Titillium+Web:700,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,600,700" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">

        <!-- App styles -->
        <link rel="stylesheet" href="dist/bundle.css">
        <!-- Vendor styles -->
        <script src="/node_modules/jquery/dist/jquery.js"></script>
        <script src="/node_modules/fancybox-plus/dist/jquery.fancybox-plus.min.js"></script>
        <link rel="stylesheet" href="/node_modules/fancybox-plus/css/jquery.fancybox-plus.css">

        <!-- App Javascript -->
        <script src="dist/bundle.js"></script>

    </head>
    <body>

        <div class="page-wrap">
            <div class="lines-set">
                <div class="container">
                    <div class="line col-xs-3"><div class="circle" parallax parallax-ratio="0.3" style="top: 20%"></div></div>
                    <div class="line col-xs-3"><div class="circle" parallax parallax-ratio="0.1" style="top: 32%"></div></div>
                    <div class="line col-xs-3"><div class="circle" parallax parallax-ratio="0.4" style="top: 15%"></div></div>
                    <div class="line col-xs-3">
                        <div class="circle" parallax parallax-ratio="0.3" style="top: 25%"></div>
                        <div class="circle fr" parallax parallax-ratio="0.1" style="top: 25%"></div>
                    </div>
                </div>
            </div>

            <header-component></header-component>

            <div class="ui-view-page">
                <div class="border"></div>
                <div class="overlay">
                    <div class="small sphere" parallax parallax-ratio="0.4"></div>
                    <div class="medium sphere" parallax parallax-ratio="0.2"></div>
                    <div class="big sphere"></div>
                    <div class="right" parallax parallax-ratio="0.6"></div>
                </div>
                <ui-view></ui-view>
            </div>

            <footer-component></footer-component> 
        </div>


        <contact-modal></contact-modal>
        <request-modal></request-modal>
        
        <!-- For blur effect -->
        <svg style="display: none;" version="1.1" xmlns="http://www.w3.org/2000/svg">
             <filter id="blur">
                 <feGaussianBlur stdDeviation="5" />
             </filter>
         </svg>
    </body>
</html>