
<!-- Starts Preloader -->
<div class="preloader hidden">
   <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
   </div>
</div>
<!-- Ends Preloader -->


 <!--Starts mobile menu button -->
 <button class="open-mobile-nav hamburger hamburger--spring"  ng-class="{'is-active': headerCtrl.mobileNavActive}" ng-click="headerCtrl.openMobileNav($event)" type="button">
   <span class="hamburger-box">
     <span class="hamburger-inner"></span>
   </span>
 </button>
 <!--Ends mobile menu button -->

<a ui-sref="home" ng-click="headerCtrl.uiSrefWasClicked()" class="visible-xs hidden-sm hidden-md hidden-lg mobile-logo">
    <img src="/app/assets/img/logo-white.png" alt="">
</a>

<!--Starts mobile nav-->
<div class="mobile-menu align-right" ng-class="{'is-active': headerCtrl.mobileNavActive}">
    <div class="container">
        <div class="menu-wr col-xs-12">
            <div class="cell align-left">
                <a ui-sref="home" ng-click="headerCtrl.uiSrefWasClicked()" class="logo">
                    <img src="/app/assets/img/logo.png" alt="">
                </a>
            </div>
            <div class="cell">
                <ul>
                    <li ui-sref-active="is-active"><a ui-sref="home" ng-click="headerCtrl.uiSrefWasClicked()">Home</a>
                    </li>
                    <li ui-sref-active="is-active"><a ui-sref="about" ng-click="headerCtrl.uiSrefWasClicked()">About us</a>
                    </li>
                    <li ui-sref-active="is-active"><a ui-sref="services" ng-click="headerCtrl.uiSrefWasClicked()">Services</a>
                    </li>
                    <li ui-sref-active="is-active">
                        <a ui-sref="careers" ng-click="headerCtrl.uiSrefWasClicked()">Careers</a>
                    </li>
                    <li ui-sref-active="is-active">
                        <a ui-sref="blog" ng-click="headerCtrl.uiSrefWasClicked()">Blog</a>
                    </li>
                    <li ui-sref-active="is-active"><a ui-sref="contacts" ng-click="headerCtrl.uiSrefWasClicked()">Contacts</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--Ends mobile nav-->


<!-- Starts Header -->
<header class="sample"
        ng-class="{'home': headerCtrl.currentStateName == 'home'}"
        style="background: url({{headerCtrl.background}}); background-size: cover; background-position: center center;">

   <div class="menu align-right">
      <div class="container">
         <div class="menu-wr col-xs-12 table">
            <div class="cell align-left">
               <a href="/" class="logo">
               <img src="/app/assets/img/logo-white.png" class="hidden-xs visible-sm visible-md visible-lg" alt="">
               </a>
            </div>
            <div class="cell">
               <ul>
                  <li ui-sref-active="is-active"><a ui-sref="home">Home</a>
                  </li>
                  <li ui-sref-active="is-active"><a ui-sref="about">About us</a>
                  </li>
                  <li ui-sref-active="is-active"><a ui-sref="services">Services</a>
                  </li>
                  <li ui-sref-active="is-active">
                    <a ui-sref="careers">Careers</a>
                  </li>
                   <li ui-sref-active="is-active">
                       <a ui-sref="blog">Blog</a>
                   </li>
                   <li ui-sref-active="is-active"><a ui-sref="contacts" >Contacts</a>
                   </li>
               </ul>
            </div>
         </div>
      </div>
   </div>

    <!--Home page-->
   <!--<div class="content" ng-if="headerCtrl.currentStateName == 'home'">-->
      <!--<div class="info cell align-center">-->
         <!--<div class="container">-->
             <!--<div class="table">-->

                 <!--<div class="header-title col-xs-12 col-md-5 content-item cell">-->

                     <!--<h1 class="title not


                     -visible"-->
                         <!--data-animation="bounceInLeft"-->
                         <!--when-visible="headerCtrl.animateElementIn"-->
                         <!--when-not-visible="headerCtrl.animateElementOut">-->
                         <!--QA, Mobile & Web <br>-->
                         <!--Development-->
                     <!--</h1>-->
                     <!--<br>-->
                     <!--<br>-->
                     <!--<p>-->
                         <!--<a ng-click="headerCtrl.openContactModal()" class="btn">Drop us a line</a>-->
                     <!--</p>-->
                 <!--</div>-->

                 <!--<div class="header-mockup col-xs-12 col-md-7 content-item cell">-->
                     <!--<img-->
                             <!--data-animation="fadeInUp"-->
                             <!--when-visible="headerCtrl.animateElementIn"-->
                             <!--when-not-visible="headerCtrl.animateElementOut"-->
                             <!--class="mockup" src="/app/assets/img/mockup-laptop.png" alt="">-->
                 <!--</div>-->
             <!--</div>-->


         <!--</div>-->
      <!--</div>-->
   <!--</div>-->


    <!--Sample page-->
    <!-- Header for sample pages -->
    <div class="content" ng-if="headerCtrl.currentStateName == 'home'">
        <div class="info cell align-center">
            <div class="container">
               <div class="table">
                   <div class="cell">
                       <!-- Header for the home page -->
                       <div class="header-title col-xs-12 content-item align-center">
                           <div class="title not-visible"
                                data-animation="bounceInLeft"
                                when-visible="headerCtrl.animateElementIn"
                                >
                               <h1>
                                   Empower your technology Infrastructure
                               </h1>
                               <!--<div class="shadowed" parallax parallax-ratio="0.3">{{headerCtrl.pageTitle}}</div>-->
                               <div>
                                   <br>
                                   <a ui-sref="contacts" class="btn">Get in Touch with Us</a>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>

    <div class="content" ng-if="headerCtrl.currentStateName != 'home'">
        <div class="info cell align-center">
            <div class="container">
                <div class="table">
                    <div class="cell">
                        <!-- Header for the home page -->
                        <div class="header-title col-xs-12 content-item align-center">
                            <div class="title not-visible"
                                 data-animation="bounceInLeft"
                                 when-visible="headerCtrl.animateElementIn"
                                 >
                                <h1>
                                    {{headerCtrl.pageTitle}}
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</header>
<!-- Ends header