<div class="page-careers content-zindex-wrap">
    <div class="container">
       <div class="single-career-content">
            <div class="col-xs-12">
                <a ui-sref="careers" class="btn"><i class="fa fa-angle-left" aria-hidden="true"></i> &nbsp;&nbsp;back to careers</a>
                <br>
                <br>
            </div>
           <div class="col-xs-12 col-md-6">
               <div id="admin-styles">
                   <div class="job-desc desc">
                       <div class="job-section location">
                            <h2 class="title">Job Location</h2>
                            <div class="job-section-info" ng-bind-html="careerCtrl.career.acf.job_location_field_to_show_on_career_page | sceTrustAsHtml"></div>
                       </div>
                       <br>
                       <div class="job-section description">
                           <h2 class="title">Description</h2>
                           <div class="job-section-info" ng-bind-html="careerCtrl.career.acf.description_field_to_show_on_career_page | sceTrustAsHtml"></div>
                       </div>
                       <br>
                       <div class="job-section basic">
                           <h2 class="title">Basic Qualifications</h2>
                           <div class="job-section-info" ng-bind-html="careerCtrl.career.acf.basic_qualification_field_to_show_on_career_page | sceTrustAsHtml"></div>
                       </div>
                       <br>
                       <div class="job-section preffered">
                           <h2 class="title">Preferred Qualifications</h2>
                           <div class="job-section-info" ng-bind-html="careerCtrl.career.acf.preffered_qualification_field_to_show_on_career_page | sceTrustAsHtml"></div>
                       </div>
                   </div>
               </div>
               <div class="social-share not-visible"
                    data-animation="fadeInDown"
                    when-visible="careerCtrl.animateElementIn">
                   <div class="title col-xs-12">Click to share the job offer</div>
                   <a
                       class="social-btn linkedin"
                       socialshare
                       socialshare-provider="linkedin"
                       socialshare-text="{{careerCtrl.seoMetaData.title}}"
                       socialshare-url="{{careerCtrl.urlToShare}}"><i class="fa fa-linkedin"></i> Linkedin</a>

                   <a
                      class="social-btn facebook"
                      socialshare
                      socialshare-provider="facebook"
                      socialshare-text="{{careerCtrl.seoMetaData.title}}"
                      socialshare-url="{{careerCtrl.urlToShare}}">
                       <i class="fa fa-facebook"></i> Facebook
                   </a>
                   <a
                      class="social-btn twitter"
                      socialshare
                      socialshare-provider="twitter"
                      socialshare-text="{{careerCtrl.seoMetaData.title}}"
                      socialshare-url="{{careerCtrl.urlToShare}}">
                       <i class="fa fa-twitter"></i> Twitter
                   </a>
               </div>
           </div>
           <div class="col-xs-12 col-md-6 section not-visible"
                data-animation="bounceInRight"
                when-visible="careerCtrl.animateElementIn">
               <div class="section-title">
                   <h2>Apply</h2>
                   <div class="shadowed" parallax parallax-ratio="0.1">Apply</div>
                   <br>
                   <div class="section-desc color-orange">All the fields are required</div>
               </div>


               <div class="form">
                   <form ng-submit="careerCtrl.apply()" name="applyForm" novalidate>
                       <div class="input-wr col-xs-12 col-md-6" ng-class="{ 'error': careerCtrl.isFormSubmitted && applyForm.name.$error.required}">
                           <input ng-model="careerCtrl.form.merge_name" required type="text" name="name" id="name"  placeholder="First & Last name">
                       </div>
                       <div class="input-wr col-xs-12 col-md-6" ng-class="{ 'error': careerCtrl.isFormSubmitted && (applyForm.email.$error.required || applyForm.email.$error.pattern) }">
                           <input ng-model="careerCtrl.form.merge_email" ng-pattern="careerCtrl.emailFormatRegex" required type="text" name="email" id="email" placeholder="Email">
                       </div>

                       <div class="input-wr col-xs-12 col-md-6" ng-class="{ 'error': careerCtrl.isFormSubmitted && applyForm.phone.$error.required}">
                           <input ng-model="careerCtrl.form.merge_phone" required type="text" name="phone" id="phone" placeholder="Phone">
                       </div>
                       <div class="input-wr col-xs-12 col-md-6" ng-class="{ 'error': careerCtrl.isFormSubmitted && applyForm.experience.$error.required}">
                           <input ng-model="careerCtrl.form.merge_experience" required type="text" name="experience" id="experience"  placeholder="Years of experience">
                       </div>

                       <div class="input-wr col-xs-12" ng-class="{ 'error': careerCtrl.isFormSubmitted && applyForm.currentctc.$error.required}">
                           <input ng-model="careerCtrl.form.merge_currentctc" required type="text" name="currentctc" id="currentctc"  placeholder="Current CTC (Cost to company)">
                       </div>
                       <div class="input-wr col-xs-12" ng-class="{ 'error': careerCtrl.isFormSubmitted && applyForm.expectedctc.$error.required}">
                           <input ng-model="careerCtrl.form.merge_expectedctc" required type="text" name="expectedctc" id="expectedctc"  placeholder="Expected CTC">
                       </div>

                       <div class="input-wr col-xs-12 col-md-6" ng-class="{ 'error': careerCtrl.isFormSubmitted && applyForm.degree.$error.required}">
                           <input ng-model="careerCtrl.form.merge_degree" required type="text" name="degree" id="degree"  placeholder="Degree">
                       </div>
                       <div class="input-wr col-xs-12 col-md-6" ng-class="{ 'error': careerCtrl.isFormSubmitted && applyForm.graduationyear.$error.required}">
                           <input ng-model="careerCtrl.form.merge_graduationyear" required type="text" name="graduationyear" id="graduationyear"  placeholder="Graduation year">
                       </div>

                       <div class="input-wr col-xs-12 col-md-6" ng-class="{ 'error': careerCtrl.isFormSubmitted && applyForm.noticeperiod.$error.required}">
                           <input ng-model="careerCtrl.form.merge_noticeperiod" required type="text" name="noticeperiod" id="noticeperiod"  placeholder="Notice period">
                       </div>
                       <div class="input-wr col-xs-12 col-md-6" ng-class="{ 'error': careerCtrl.isFormSubmitted && applyForm.location.$error.required}">
                           <input ng-model="careerCtrl.form.merge_location" required type="text" name="location" id="location"  placeholder="Current location">
                       </div>

                       <div class="input-wr col-xs-12" ng-class="{ 'error': careerCtrl.isFormSubmitted && applyForm.current_work_diff.$error.required}">
                           <input ng-model="careerCtrl.form.merge_current_work_diff" required type="text" name="current_work_diff" id="current_work_diff"  placeholder="How long have you been working in current organization?">
                       </div>

                       <div class="input-wr col-xs-12" ng-class="{ 'error': careerCtrl.isFormSubmitted && applyForm.coverletter.$error.required}">
                           <textarea ng-model="careerCtrl.form.merge_coverletter" required name="coverletter" id="coverletter" cols="30" rows="7" placeholder="Cover letter"></textarea>
                       </div>


                       <!-- File upload -->
                       <div class="input-wr col-xs-12 images-upload">
                           <div class="locations-files-upload">
                               <div class="file-upload-wr">
                                   <div ngf-drop ng-model="careerCtrl.form.attachments" ngf-change="careerCtrl.fileUpdated($files)" class="drop-box">
                                       <button class="upload-files"
                                               ng-class="{ 'error': careerCtrl.isFormSubmitted && ! careerCtrl.uploadedFilesLength}"
                                               ngf-multiple="false"
                                               ngf-select
                                               name="file"
                                               ng-model="careerCtrl.form.file_1"
                                               ngf-change="careerCtrl.fileUpdated($files)"
                                               name="file">
                                           &nbsp;&nbsp;&nbsp;&nbsp;Click to add your CV&nbsp;&nbsp;
                                           <span ng-if="careerCtrl.uploadedFilesLength">
									| &nbsp;files uploaded: {{careerCtrl.uploadedFilesLength}}</span>
                                           &nbsp;&nbsp;</button>
                                       <!--&nbsp;&nbsp;&nbsp;-->
                                       <!--<button ng-if="careerCtrl.uploadedFilesLength" class="btn blue flex" ng-click="careerCtrl.resetFiles();">удалить загрузки</button>-->
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="error-message col-xs-12" ng-show="careerCtrl.isFormSubmitted && ! careerCtrl.uploadedFilesLength">
                           You must upload your CV to apply for the job
                       </div>

                       <div class="captcha-wrap" vc-recaptcha  key="careerCtrl.CONST.GOOGLE_RECAPTCHA_KEY" ng-model="careerCtrl.myRecaptchaResponse"></div>
                       <div class="error-message col-xs-12 align-center" ng-show="careerCtrl.isFormSubmitted && ! careerCtrl.myRecaptchaResponse">
                           You must check captcha to apply for the job
                       </div>


                       <div class="social-login col-xs-12">
                           <div class="title col-xs-12" ng-if="! careerCtrl.activeProvider">
                               You should login via social media first to apply for the job
                           </div>
                           <div class="col-xs-6">
                               <button g-login type="button" class="social-btn google"
                                       ng-class="{'is-active': careerCtrl.activeProvider == 'google'}"><i class="fa fa-google"></i> Google</button>
                           </div>
                           <div class="col-xs-6">
                               <button fb-login type="button" class="social-btn facebook"
                                       ng-class="{'is-active': careerCtrl.activeProvider == 'facebook'}"><i class="fa fa-facebook"></i> Facebook</button>
                           </div>
                           <br>
                       </div>

                       <div class="input-wr col-xs-12 align-center">
                           <button type="submit" class="btn" >Send</button>
                           <!--ng-disabled="applyForm.$invalid || ! careerCtrl.loginSuccessful || ! careerCtrl.myRecaptchaResponse"-->
                       </div>
                   </form>
               </div>
           </div>

       </div>
    </div>
</div>