<div class="page-blog content-zindex-wrap">
    <div class="container">
        <div class="post-info col-xs-12">
            <div class="left">
                <div class="author">
                    <div class="circle" style="background: url({{postCtrl.post._embedded.author[0].acf.thumb || postCtrl.post._embedded.author[0].avatar_urls[96]}}) center center no-repeat; background-size: cover;"></div>
                    <div class="name">
                        <div class="role">Post author:</div>
                        <div class="data">{{postCtrl.post._embedded.author[0].name}}</div>
                    </div>
                </div>
            </div>
            <div class="right">
                <a ui-sref="blog" class="btn"><i class="fa fa-angle-left" aria-hidden="true"></i> &nbsp;&nbsp;back to blog</a>
            </div>
            <br>
            <br>
        </div>
        <div class="col-xs-12">
            <!--<div class="section">-->
                <!--<div class="section-title">-->
                    <!--<h2>{{postCtrl.post.title.rendered}}</h2>-->
                    <!--<div class="shadowed" parallax parallax-ratio="0.1">{{postCtrl.post.title.rendered}}</div>-->
                <!--</div>-->
                <!--<div class="section-description">{{postCtrl.post.date | date: 'MM/dd/yyyy'}}</div>-->
            <!--</div>-->
        </div>
        <div class="col-xs-12">
            <div id="admin-styles">
                <div class="post-content-admin entry-summary" ng-bind-html="postCtrl.post.content.rendered | sceTrustAsHtml"></div>
            </div>
            <br>
            <br>
            <disqus-comments />
        </div>
    </div>
</div>