<!-- Starts Contact modal -->
<div class="request-modal modal-template" ng-class="{'is-active': modalCtrl.modalIsActive}">
   <div class="modal-content">
      <div class="sphere"></div>
      <span  ng-click="modalCtrl.toggleModal()"  class="close close-contact-modal">
         <i  class="close-thanks-modal close-icon hover-white"></i>
      </span>
         <div class="table section">
            <div class="form cell clearfix col-xs-12 col-sm-6">
               <div class="modal-title col-xs-12">
                  <div class="section-title">
                     <h2>Contact us</h2>
                     <div class="shadowed">Contact us</div>
                  </div>
               </div>
               <div class="form col-xs-12 col-sm-10 col-md-8 centered-bootstrap-cell">
                  <form name="contactForm" ng-submit="modalCtrl.send()">
                     <div class="input-wr col-xs-12 col-md-6" ng-class="{ 'error': contactForm.name.$dirty && contactForm.name.$error.required}">
                        <input ng-model="modalCtrl.form.merge_name" required type="text" name="name" id="name"  placeholder="Name">
                     </div>
                     <div class="input-wr col-xs-12 col-md-6" ng-class="{ 'error': contactForm.email.$dirty && (contactForm.email.$error.required || contactForm.email.$error.pattern) }">
                        <input ng-model="modalCtrl.form.merge_email" ng-pattern="modalCtrl.emailFormatRegex" required type="text" name="email" id="email" placeholder="Email">
                     </div>
                     <div class="input-wr col-xs-12" ng-class="{ 'error': contactForm.phone.$dirty && contactForm.phone.$error.required}">
                        <input ng-model="modalCtrl.form.merge_phone" required type="text" name="phone" id="phone" placeholder="Phone">
                     </div>
                     <div class="input-wr col-xs-12">
                        <textarea ng-model="modalCtrl.form.merge_message" name="message" id="message" id="" cols="30" rows="5" placeholder="Message"></textarea>
                     </div>
                     <div class="input-wr col-xs-12 align-center">
                        <button type="submit" class="btn" ng-disabled="contactForm.$invalid">Send</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
</div>
<!-- Ends Contact modal -->