<div class="page-contacts content-zindex-wrap">
    <div class="container">

        <div class="section col-xs-12">
            <div class="section-title">
                <h2>{{contactsCtrl.model.contactsInfoTitle}}</h2>
                <div class="shadowed" parallax parallax-ratio="0.1">{{contactsCtrl.model.contactsInfoSubtitle}}</div>
            </div>
        </div>

        <div class="contacts-info col-xs-12 col-md-6">
            <div class="title">Let's Get In Touch!</div>
            <ul>
                <li>
                    <span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span> <a href="mailto:contact@mplifytech.com">contact@mplifytech.com</a>
                </li>
                <li>
                    <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span> <a href="callto:+91-9512832436">+91-9512832436</a>
                </li>
                <li>
                    <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                    A-323, Siddhraj Zori, <br>
                    Sargasan Cross Road, <br>
                    S.G.Highway, <br>
                    Sargasan - 382421, <br>
                    Gandhinagar, <br>
                    Gujarat, <br>
                    India
                </li>
            </ul>
        </div>

        <div class="contact-form section col-xs-12 col-md-6">
            <div class="section-title">
                <h2>Get in touch</h2>
                <div class="shadowed">Get in touch</div>
            </div>
            <div class="form">
                <form ng-submit="contactsCtrl.sendEmail()" name="contactForm" novalidate>
                    <div class="input-wr col-xs-12 col-md-6" ng-class="{ 'error': contactsCtrl.isFormSubmitted && contactForm.name.$error.required}">
                        <input ng-model="contactsCtrl.form.merge_name" required type="text" name="name" id="name"  placeholder="Name">
                    </div>
                    <div class="input-wr col-xs-12 col-md-6" ng-class="{ 'error': contactsCtrl.isFormSubmitted && (contactForm.email.$error.required || contactForm.email.$error.pattern) }">
                        <input ng-model="contactsCtrl.form.merge_email" ng-pattern="contactsCtrl.emailFormatRegex" required type="text" name="email" id="email" placeholder="Email">
                    </div>
                    <div class="input-wr col-xs-12" ng-class="{ 'error': contactsCtrl.isFormSubmitted && contactForm.phone.$error.required}">
                        <input ng-model="contactsCtrl.form.merge_phone" required type="text" name="phone" id="phone" placeholder="Phone">
                    </div>
                    <div class="input-wr col-xs-12" ng-class="{ 'error': contactsCtrl.isFormSubmitted  && contactForm.message.$error.required}">
                        <textarea ng-model="contactsCtrl.form.merge_message" required name="message" id="message" id="" cols="30" rows="5" placeholder="Message"></textarea>
                    </div>
                    <div class="captcha-wrap" vc-recaptcha  key="contactsCtrl.CONST.GOOGLE_RECAPTCHA_KEY" ng-model="contactsCtrl.myRecaptchaResponse"></div>
                    <div class="error-message align-center col-xs-12" ng-show="contactsCtrl.isFormSubmitted && ! contactsCtrl.myRecaptchaResponse">
                        You must check captcha to apply for the job
                        <br>
                        <br>
                    </div>
                    <div class="input-wr col-xs-12 align-center">
                        <button type="submit" class="btn">Send</button>
                    </div>
                </form>
            </div>
        </div>

    </div>


    <div
            map-lazy-load="https://maps.google.com/maps/api/js"
            map-lazy-load-params="{{contactsCtrl.googleMapConfig.URL}}">
        <ng-map center="{{contactsCtrl.map_latitude}},{{contactsCtrl.map_longitude}}" zoom="{{contactsCtrl.googleMapConfig.zoom}}" styles="{{contactsCtrl.googleMapConfig.styles}}">
            <marker position="[{{contactsCtrl.map_latitude}}, {{contactsCtrl.map_longitude}}]" title="MPLIFY"
                    icon="/app/assets/img/map-marker.png"></marker>
        </ng-map>
    </div>

</div>