<div class="page-careers content-zindex-wrap">
    <div class="courses-table-section section">
        <div class="container">
            <div class="section our-culture">
                <div class="section-title">
                    <h2>{{careersCtrl.model.ourCulture.title}}</h2>
                    <div class="shadowed" parallax parallax-ratio="0.1">{{careersCtrl.model.ourCulture.title}}</div>
                </div>
                <div class="desc" ng-bind-html="careersCtrl.model.ourCulture.content | sceTrustAsHtml"></div>

                <div class="carousel" ng-if="careersCtrl.model.slider">
                    <slick infinite=true settings="careersCtrl.slickConfig">
                        <div ng-repeat="item in careersCtrl.model.slider">
                            <a  href="{{item.url}}" rel="gallery01" class="fancybox" fancyboxable>
                                <div class="slide-item">
                                    <img ng-src="{{item.url}}" alt="">
                                </div>
                            </a>
                        </div>
                    </slick>
                </div>
            </div>

            <div class="section intro">
                <div class="section-title">
                    <h2>{{careersCtrl.model.careersList.title}}</h2>
                    <div class="shadowed" parallax parallax-ratio="0.1">{{careersCtrl.model.careersList.title}}</div>
                </div>
                <div class="desc" ng-bind-html="careersCtrl.model.careersList.content | sceTrustAsHtml"></div>
            </div>

           <div class="careers" ng-if="careersCtrl.careers">
               <div class="item clearfix not-visible"
                    ng-repeat="item in careersCtrl.careers"
                    data-animation="fadeInUp"
                    when-visible="careersCtrl.animateElementIn"
                    ui-sref="career({id: item.id, slug: item.slug})">
                   <div class="title col-xs-6 col-md-4">{{item.title.rendered}}</div>
                   <div class="specialization col-xs-6 col-md-3">{{item.acf.specialization || 'Not specified'}}</div>
                   <div class="location col-xs-6 col-md-3">{{item.acf.location || 'Not specified'}}</div>
                   <div class="link col-xs-6 col-md-2">
                       <a ui-sref="career({id: item.id, slug: item.slug})">Read more</a>
                   </div>
               </div>
           </div>

            <div class="empty-msg col-xs-12 not-visible"
                 data-animation="fadeInUp"
                 when-visible="careersCtrl.animateElementIn"
                 ng-if="careersCtrl.careers.length == 0">
                No active Job Openings now
            </div>
        </div>
    </div>
</div>