.page-wrap
{
    position: relative;
    overflow: hidden;
}

.content-zindex-wrap
{
    position: relative;
    z-index: 3;
}

.section
{
    padding: 2em 0;
    .section-title
    {
        margin-bottom: 4em;
        text-align: center;
        position: relative;
        font-family: 'Days One', sans-serif;
        h2
        {
            margin: 0;
            position: relative;
            z-index: 2;
            font-size: 2.500em; //40px
            display: inline-block;
            @include fill-gradient();

        }
        .shadowed
        {
            display: none !important;
            
            z-index: 0;
            font-size: 5em;
            top: -80%;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            display: inline-block;
            color: #f7f7f7;
            position: absolute;
        }
    }

    .section-description
    {
        position: relative;
        width:100%;
        padding: 4em 0 2em 0;
        text-align: center;
        font-size: 1.200em;
        display: inline-block;
        color: #979797;
    }
}

.lines-set
{
    position: fixed;
    z-index: 2;

    width: 100%;
    height: 100%;

    $line-color: #eee;
    .container
    {
        height: 100%;
    }
    .line
    {
        position: relative;

        height: 100%;
        .circle
        {
            position: absolute;
            z-index: 2;
            left: -8px;

            width: 20px;
            height: 20px;

            border: 2px solid $line-color;
            border-radius: 50%;
            background: #fff;
        }
        &:after
        {
            position: absolute;
            left: 0;

            display: block;

            width: 2px;
            height: 100%;

            content: '';

            background: $line-color;
        }
        .circle.fr{
            position: absolute;
            z-index: 2;
            right: -8px;
            left: auto;

            width: 20px;
            height: 20px;

            border: 2px solid $line-color;
            border-radius: 50%;
            background: #fff;
        }
        &:last-child
        {
            &:before
            {
                position: absolute;
                right: 0;

                display: block;

                width: 2px;
                height: 100%;

                content: '';

                background: $line-color;
            }
        }
    }
}


.form
{
    padding: 0 3em;

    .input-wr
    {
        padding-bottom: 1em;
        &.error
        {
            input,
            textarea
            {
                border: 3px solid $colors-orange !important;
            }
        }
    }
    input:not([type='submit']),
    textarea,
    .upload-files
    {
        display: inline-block;

        width: 100%;
        max-width: 100%;
        padding: .8em;
        background: #fff;
        resize: none;
        transition: border $transition-time ease-in-out;
        text-align: left;
        font-weight: 400;
        color: #919191;
        border: 3px solid #ededed !important;
        border-radius: 0 !important;
        outline: none !important;
        box-shadow: none !important;
        &::-webkit-input-placeholder
        {
            /* WebKit, Blink, Edge */
            color: #919191 !important;
        }
        &:-moz-placeholder
        {
            /* Mozilla Firefox 4 to 18 */
            color: #919191 !important;;
        }
        &::-moz-placeholder
        {
            /* Mozilla Firefox 19+ */
            color: #919191 !important;;
        }
        &:-ms-input-placeholder
        {
            /* Internet Explorer 10-11 */
            color: #919191 !important;;
        }
        &:focus,
        &:active
        {
            // background: $colors-orange;
        }
        &.wpcf7-not-valid
        {
            border: 1px solid $colors-orange;
        }
        &.error
        {
            border: 3px solid $colors-orange !important;
        }
        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px white inset;
        }
    }

    div.wpcf7 .ajax-loader
    {
        display: none !important;
    }
    .wpcf7-not-valid-tip
    {
        display: none !important;
    }
    .wpcf7-response-output.wpcf7-validation-errors
    {
        display: none !important;
    }
    .social-login
    {
        padding: 1.5em 0 !important;
        .title
        {
            text-align: center;
            color: $colors-orange;
            padding-bottom: 1em;
        }
        .social-btn
        {
            cursor: pointer;
            display: inline-block;

            width: 100%;
            max-width: 100%;
            padding: .8em;
            background: #fff;
            resize: none;
            transition: all $transition-time ease-in-out;
            text-align: left;
            //font-weight: 300;
            color: #fff;
            border: 3px solid #ededed !important;
            border-radius: 0 !important;
            outline: none !important;
            box-shadow: none !important;
            text-align: center;
            i{
                padding-right: 1em;
                color: #fff;
            }
            &:hover{
                opacity: 0.8;
            }
            &.google{
                background: #dd4b39;
            }
            &.linkedin{
                background: #0077B5;
            }
            &.facebook{
                background: #3b5999;
            }
            &.twitter{
                background: #55acee;
            }
            &.is-active
            {
                background: #3FC380;
                color: #eee;
                i{
                    color: #fff;
                }
            }

        }
    }

    .captcha-wrap{
        width: 100%;
        padding: 1em 0;
        float: left;
        text-align: center;
         > div{
             margin: 0 auto;
         }
    }
}

.empty-msg
{
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
    background: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    padding: 2em 1em;
    margin: 1.5em 0;
}

.error-message{
    font-size: 0.9em;
    color: $colors-orange;
    padding-top: 0.3em;
}

.ui-view-page{
    position: relative;
    .border{
        z-index: 3;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        height: 6px;
        background: #eee;
    }
    .overlay
    {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 0.8em;
        .big
        {
            position: absolute;
            z-index: 1;
            top: -25em;
            left: -25em;

            display: block;

            width: 60em;
            height: 60em;

            border-radius: 50%;
            background: #fff;
            box-shadow: 0 1px 184px 20px rgba(17, 16, 16, .07);
        }

        .medium
        {
            position: absolute;
            z-index: 4;
            top: -7em;
            left: -2em;

            display: block;

            width: 11em;
            height: 11em;

            border-radius: 50%;
            background: #ffffff; /* Old browsers */
            background: -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #ffffff 0%,#dddddd 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #ffffff 0%,#dddddd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

            filter: drop-shadow(0 16px 6px rgba(100, 10 , 0, .2));
        }

        .small
        {
            position: absolute;
            z-index: 4;
            top: -12em;
            left: 6em;

            display: block;

            width: 6em;
            height: 6em;

            border-radius: 50%;
            background: #f60;
            background: linear-gradient(135deg, #f60 0%,#f60 23%,#b700b1 79%);
            filter: drop-shadow(0 10px 6px rgba(100, 10 , 0, .2));
        }

        .right
        {
            position: absolute;
            z-index: 4;
            top: -10em;
            right: -6em;

            display: block;

            width: 16em;
            height: 16em;

            border-radius: 50%;
            background: #f60;
            background: linear-gradient(135deg, #f60 0%,#f60 23%,#b700b1 79%);
            filter: drop-shadow(0 10px 6px rgba(100, 10 , 0, .2));
        }
    }
}

// Slick
.carousel{
    .slick-slide{
        padding: 1em;
    }
    .slide-item{
        cursor: pointer;
        border: 3px solid #eee;
        border-radius: 2px;
        transition: opacity $transition_time ease-in-out;
        img{
        }
        &:hover{
            opacity: 0.7;
        }
    }
}