<div class="page-home content-zindex-wrap">
    <div class="container">
        <div class="what-we-do section">
            <div class="sphere bottom"></div>

            <div class="section-title">
                <h2>{{homeCtrl.model.whatWeDoSectionTitle}}</h2>
                <div class="shadowed" parallax parallax-ratio="0.1">{{homeCtrl.model.whatWeDoSectionTitle}}</div>
            </div>

            <div class="section-description" ng-if="homeCtrl.model.whatWeDoSectionSubtitle">
                {{homeCtrl.model.whatWeDoSectionSubtitle}}
            </div>

            <div class="section-subdescription align-center col-xs-12 col-sm-10 col-md-8 centered-bootstrap-cell" ng-if="homeCtrl.model.whatWeDoSectionDescription">
                {{homeCtrl.model.whatWeDoSectionDescription}}
            </div>

            <div class="diagram">
                <div class="circle">
                    <div class="head">MPLIFY</div>
                    <div class="item n{{$index+1}} not-visible"
                         data-animation="fadeInUp"
                         when-visible="homeCtrl.animateElementIn"
                         ng-repeat="item in homeCtrl.model.whatWeDoItems track by $index">
                        <div class="content table">
                            <div class="cell">
                                {{item.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="items" ng-repeat="item in homeCtrl.model.whatWeDoItems track by $index">
                <div class="clearfix">
                    <div ng-if="$even">
                        <div class="item overlay-wrap col-xs-12 col-md-6">
                            <h3 class="overlay not-visible"
                                data-animation="fadeInDown"
                                when-visible="homeCtrl.animateElementIn">{{item.two_letters}}</h3>
                        </div>
                        <div class="highlited orange item col-xs-12 col-md-6">
                            <div class="index">0{{$index+1}}.</div>
                            <h3 class="title">
                                {{item.title}}
                            </h3>
                            <div class="content" ng-bind-html="item.description | sceTrustAsHtml"></div>
                        </div>
                    </div>

                    <div ng-if="$odd">
                        <div class="highlited violet item col-xs-12 col-md-6">
                            <div class="index">0{{$index+1}}.</div>
                            <h3 class="title">
                                {{item.title}}
                            </h3>
                            <div class="content" ng-bind-html="item.description | sceTrustAsHtml"></div>
                        </div>
                        <div class="item overlay-wrap col-xs-12 col-md-6">
                            <h3 class="overlay not-visible"
                                data-animation="fadeInDown"
                                when-visible="homeCtrl.animateElementIn">{{item.two_letters}}</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="latest-works section not-visible"
             data-animation="slideInUp"
             when-visible="homeCtrl.animateElementIn">
            <div class="section-title">
                <h2>{{homeCtrl.model.someOfOurWorksSectionTitle}}</h2>
                <div class="shadowed">{{homeCtrl.model.someOfOurWorksSectionSubtitle}}</div>
            </div>

            <div class="items">

                <div class="item col-xs-12 col-md-6" ng-repeat="item in homeCtrl.model.someOfOurWorks">
                    <div class="content" style="background: url({{item.work_thumb}}); background-size: cover; background-position: center center;">
                        <div class="table">
                            <div class="cell">
                                <div class="info">
                                    <div class="title">{{item.work_title}}</div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="description col-xs-12">
                        <br>
                        {{item.work_description}}
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>