.page-contacts{
  padding: 3em 0 0 0;
  .contacts-info{
    .title{
      font-size: 2.3em;
      color: #000;
      padding-bottom: 1em;
    }
    ul{
      li{
        position: relative;
        padding-bottom: 1.5em;
        padding-left: 3em;
        .icon{
          display: inline-block;
          position: absolute;
          left: 0;
          top: 0;
          width: 2em;
          height: 2em;
          background: $colors-orange;
          color: #fff;
          border-radius: 50%;
          text-align: center;
          i{
            color: #fff;
            font-size: 1.2em;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            left: 0;
            right: 0;
            height: 1em;
            color: #fff;
          }
        }

      }
    }
    a{
      cursor: pointer;
      color: $colors-orange;
      transition: color $transition-time ease-in-out;
      &:hover{
        color: $colors-violet;
      }
    }
  }
}