 <footer>
        <div class="footer-menu">
            <div class="container">

                <div class="col-xs-12 col-md-6" ng-class="(footerCtrl.currentStateName == 'contacts') ? 'centered-bootstrap-cell' : ''">
                    <div class="logo">
                        <a href="">
                            <img src="/app/assets/img/logo.png" alt="">
                        </a>
                    </div>
                    <br>
                    <div class="footer-info">
                        <p ng-bind-html="footerCtrl.footerData.info | sceTrustAsHtml"></p>

                        <br>
                        <div class="list navigation">
                            <br>
                            <div class="list-title">
                                Navigation
                            </div>
                            <ul>
                                <li ui-sref-active="is-active"><a ui-sref="home">Home</a>
                                </li>
                                <li ui-sref-active="is-active"><a ui-sref="about">About us</a>
                                </li>
                                <li ui-sref-active="is-active"><a ui-sref="services">Services</a>
                                </li>
                                <li ui-sref-active="is-active">
                                    <a ui-sref="careers">Careers</a>
                                </li>
                                <li><a ui-sref="contacts" >Contact us</a>
                                </li>
                            </ul>
                        </div>

                        <div class="social">
                            <br>
                            <br>
                            <br>
                            <ul>
                                <li ng-repeat="link in footerCtrl.footerData.links">
                                    <a href="{{link.link}}" target="_blank"><i class="fa {{link.icon}}"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="contact-form section col-xs-12 col-md-6" ng-if="footerCtrl.currentStateName != 'contacts'">
                    <div class="section-title">
                        <h2>Get in touch</h2>
                        <div class="shadowed">Get in touch</div>
                    </div>
                    <div class="form">
                        <form ng-submit="footerCtrl.sendEmail()" name="footerCtrl.contactForm" novalidate>
                            <div class="input-wr col-xs-12 col-md-6" ng-class="{ 'error': footerCtrl.isFormSubmitted  && footerCtrl.contactForm.name.$error.required}">
                                <input ng-model="footerCtrl.form.merge_name" required type="text" name="name" id="name"  placeholder="Name">
                            </div>
                            <div class="input-wr col-xs-12 col-md-6" ng-class="{ 'error': footerCtrl.isFormSubmitted  && (footerCtrl.contactForm.email.$error.required || footerCtrl.contactForm.email.$error.pattern) }">
                                <input ng-model="footerCtrl.form.merge_email" ng-pattern="footerCtrl.emailFormatRegex" required type="text" name="email" id="email" placeholder="Email">
                            </div>
                            <div class="input-wr col-xs-12" ng-class="{ 'error': footerCtrl.isFormSubmitted  && footerCtrl.contactForm.phone.$error.required}">
                                <input ng-model="footerCtrl.form.merge_phone" required type="text" name="phone" id="phone" placeholder="Phone">
                            </div>
                            <div class="input-wr col-xs-12" ng-class="{ 'error': footerCtrl.isFormSubmitted  && footerCtrl.contactForm.message.$error.required}">
                                <textarea ng-model="footerCtrl.form.merge_message" required name="message" id="message" id="" cols="30" rows="5" placeholder="Message"></textarea>
                            </div>
                            <div class="captcha-wrap" vc-recaptcha  key="footerCtrl.CONST.GOOGLE_RECAPTCHA_KEY" ng-model="footerCtrl.myRecaptchaResponse"></div>
                            <div class="error-message align-center col-xs-12" ng-show="footerCtrl.isFormSubmitted && ! footerCtrl.myRecaptchaResponse">
                                You must check captcha to apply for the job
                                <br>
                                <br>
                            </div>
                            <div class="input-wr col-xs-12 align-center">
                                <button type="submit" class="btn">Send</button>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>

        <div class="copy col-xs-12">
            <div class="container">
                © {{footerCtrl.date}} Mplify Tech Services Private Ltd. All rights reserved.
            </div>
        </div>
    </footer>