<div class="page-team section light">
	<div class="container">
	    <div class="align-center">
	        <div class="section-title-wr">
	            <div class="section-title">
	                Наша команда
	            </div>
	        </div>
	        <div class="members">
	        	<div class="member">
	        		<div class="photo-wr">
	        			<div class="photo"></div>
	        		</div>
	        		<div class="position"></div>
	        		<div class="name"></div>
	        		<div class="contact-data">
	        			<ul>
	        				<li>
	        					Email: <a href="">email@email.com</a>
	        				</li>
	        			</ul>
	        		</div>
	        	</div>
	        </div>
	    </div>
	</div>
</div>