@media only screen and (min-width : 1600px) {

}

@media only screen and (max-width : 1200px) {
  .section .section-title .shadowed
    {
      font-size: 3em !important;
      top: -50% !important;
    }
  footer .footer-menu .list a{
    font-size: 0.9em;
  }
  header.home .info .title{
    //font-size: 2.8em;
    margin-bottom: 1em;
    text-align: center !important;
  }
  .form{
    padding: 0 1em !important;
  }
}

@media only screen and (max-width : 992px) {
  header .overlay .right{
    font-size: 0.7em;
  }

  header .header-title
  {
    position: relative;
    z-index: 1;
    text-align: center;
    .title{
      text-align: center;
    }
  }

  header .content .content-item{
    display: block !important;
  }

  header .header-mockup
  {
    transform: translateY(-8em);
    img{
      width: 80%;
      margin: 0 auto;
      display: block;
    }
  }

  .modal-template .modal-content .sphere{
    font-size: 0.7em;
  }

  footer .footer-menu .list ul li{
    text-align: center;
  }

  footer .footer-menu .social{
    br{
      display: none;
    }
    padding-top: 2em;
  }
  header.sample .info .title .shadowed{
    font-size: 4em !important;
    top: -55% !important;
  }
  header.careers{
    padding: 8em 0 6em 0 !important;
  }
}

@media only screen and (max-width : 768px) {
  html,
  body{
    font-size: 14px !important;
    line-height: 1.6 !important;
  }
  .open-mobile-nav{
    display: block !important;
  }
  header .menu{
    display: none !important;
    visibility: hidden !important;
  }

  // Adaptive nav
  .mobile-menu{
    display: block !important;
    visibility: visible !important;
    transition: transform $transition_time ease-in-out, background $transition_time*2 $transition_time ease-in-out;
    transform: translateX(100%);
    position: fixed;
    top: 0 !important;
    right: 0;
    left: auto;
    height: 100%;
    width: 100%;


    .menu-wr {
      position: absolute;
      right: 0;
      background: #fff;
      height: 100%;
      width: 60%;
      z-index: 1000;
      -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
    }
    .container{
      height: 100%;
      width: 100%;
    }
    .menu-wr{
      .cell{
        display: block;
        width: 100%;
      }
      .logo{
        padding: 2em 0;
        position: static;
        text-align: center;
        width: 100%;
        display: block;
        img{
          margin: 0 auto;
        }
      }
      ul{
        line-height: 4em;
        li{
          padding-left: 0.5em;
          padding-top: 0.1em;
          padding-bottom: 0.1em;
          display: block;
          text-align: left;
          width: 100%;
          a{
            color: #6c6c6c !important;
            font-weight: 300;
            font-size: 1.2em;
          }
        }
      }
    }

    &.is-active{
      background: rgba(0,0,0,.5);
      transform: translateX(0);
    }
  }
  header{
    height:auto !important;
    min-height: initial !important;
  }
  header .overlay{
    font-size: 0.7em;
    .big
    {
      font-size: 0.8em;
    }
    .medium
    {
      top: 3em;
      left: -5em;
    }
    .small
    {
      top: 11em;
      left: 1em;
    }
  }
  header .header-mockup{
    transform: translateY(-3em);
  }
  header .header-mockup img{
    width: 100%;
  }
  header.careers{
    padding: 6em 0 4em 0 !important;
  }

  .modal-template .modal-content{
    width: 90%;
    height: 90%;
  }
  ng-map{
    height: 20em;
  }
  footer .contact-form{
    padding-top: 4em;
  }

  header.sample .header-title{
    font-size: 1em;
  }

  .ui-view-page .overlay{
    font-size: 0.5em !important;
  }

  .slick-slider{
    width: 90%;
    margin: 0 auto;
  }

  header.sample .info .title h1{
    font-size: 3em;
  }
}

@media only screen and (max-width : 480px) {

  header .overlay .small
  {
    top: 3em;
  }
  header .overlay .medium{
    top: -3em;
  }
  footer .footer-menu .list a{
    font-size: 0.8em;
  }
  header.home .info .title{
    //font-size: 2.2em;
  }
  header .overlay .right{
    font-size: 0.4em;
  }
  header .menu{
    width: 80%;
  }
  header.sample .header-title{
    font-size: 0.9em;

  }
  .section .section-description{
    padding: 1em 0;
  }
  header.sample .header-title{
    font-size: 0.8em;
  }

  .mobile-menu .menu-wr ul li a{
    font-weight: 500;
  }
  footer .footer-menu .footer-info{
    font-size: 1.1em;
  }
  footer .footer-menu .list a{
    font-size: 1.1em;
    font-weight: 500;
  }

  .page-home .what-we-do .diagram .head{
    width: 8em !important;
    height: 8em !important;
    line-height: 8em !important;
  }
  .page-home .what-we-do .diagram .item{
    width: 13em !important;
    height: 13em !important;
    .content{
      font-weight: 500 !important;
      font-size: 1.2em !important;
    }
  }
  .page-home .what-we-do .diagram .item.n1{
    top: -11em !important;
  }
  .page-home .what-we-do .diagram .item.n5{
    top: 1em !important;
    left: -9em !important;
  }
  .page-home .what-we-do .diagram .item.n2{
    top: 1em !important;
    right: -9em !important;
  }
  .page-home .what-we-do .diagram .item.n4{
    top: 17em !important;
    left: -4em !important;
  }
  .page-home .what-we-do .diagram .item.n3{
    top: 17em !important;
    right: -4em !important;
  }
  .what-we-do .items{
    padding-top: 2em;
  }
  .page-home .what-we-do .items .item .content{
    font-size: 1.1em !important;
    font-weight: 500 !important;
  }
  .page-home .latest-works .items .item .description{
    font-size: 1em;
  }
}


@media only screen and (max-width : 320px) {

}