
html,
body
{
    font-family: 'Lato', sans-serif !important;
    // Base font size
    font-size: 16px !important;
    font-weight: 400;
    line-height: 1.8;
    color: #666;
}
body
{
    &.no-overflow
    {
        overflow: hidden !important;
    }
}
h1,
h2,
h3,
h4,
h5,
h6
{
    font-size: inherit;
    font-weight: inherit;

    margin: inherit;
}
*
{
    outline: none !important;
}
img
{
    max-width: 100%;
}
a[href='ˆ*']
{
    cursor: pointer;
}
p
{
    line-height: 1.6em;
}
.align-center
{
    text-align: center;
}
.align-right
{
    text-align: right;
}
.align-left
{
    text-align: left;
}
.clearfix:after
{
    display: table;
    clear: both;

    content: ' ';
}
.centered-bootstrap-cell
{
    float: none !important;

    margin: 0 auto;
}
.cursor-pointer
{
    cursor: pointer;
}
.not-visible {
    visibility: hidden;
}
.table
{
    display: table;

    width: 100%;
    margin: 0 auto;
    .cell
    {
        display: table-cell;
        float: none;

        vertical-align: middle;
    }
}

.data-loading{
    padding: 3em 0;
    text-transform: uppercase;
    font-size: 1.1em;
    text-align: center;
}
.blured
{
    z-index: 0;

    overflow: hidden;
    overflow: hidden;

    height: auto;

    -webkit-transition: 1s -webkit-filter linear;
            transition: 1s filter linear;
            transition: all $transition_time/2 ease;

    -webkit-filter: url(#blur);
            filter: url(#blur);
    -webkit-filter: blur(5px);
            filter: blur(5px);
            filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
}


// Button template
.btn
{
    display: inline-block;
    padding: 1em 3em;
    cursor: pointer;
    transition: border $transition-time ease-in-out;
    text-align: center;
    color: #fff;
    border: none !important;
    border-radius: 30px;
    box-shadow: none !important;
    background: $colors-orange;
    box-shadow: 0px 6px 6px 0px rgba(255, 102, 0, 0.4);
    transition: all $transition-time ease-in-out;
    &:hover
    {
        background: $colors-violet;
        box-shadow: 0px 6px 6px 0px rgba(183, 0, 177, 0.4);
    }
    &:disabled
    {
        pointer-events: none;

        opacity: .6;
    }
}

// Mobile nav trigger
.open-mobile-nav
{
    position: fixed;
    z-index: 1001;
    top: 0;
    right: 0;

    display: none;

    padding: 10px 10px 5px 10px;

    cursor: pointer !important;

    border-bottom-left-radius: 10px;
    background: rgba(225, 225, 225, .39);
    &:hover
    {
        opacity: 1;
    }
}

.modal-template
{
    line-height: initial !important;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;

    overflow: scroll;

    width: 100%;
    height: 100%;

    transition: transform $transition_time ease-in-out, background $transition_time*2 $transition_time ease-in-out;
    transform: translateY(-100%);

    opacity: 1 !important;
    color: #fff;

    .modal-content
    {
        width: 80%;
        height: 80%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
        overflow: auto;
        .sphere
        {
            position: absolute;
            z-index: 3;
            bottom: 3em;
            left: -4em;

            display: block;

            width: 12em;
            height: 12em;

            border-radius: 50%;
            background: #f60;
            background: linear-gradient(135deg, #f60 0%,#f60 23%,#b700b1 79%);
            filter: drop-shadow(0 10px 6px rgba(100, 10 , 0, .2));
        }
    }
    .section-title
    {
        color: #fff;
    }
    .close-contact-modal
    {
        position: absolute;
        z-index: 2001;
        top: 0;
        right: 0;

        padding: 1.5em;

        background: transparent;
        .hamburger-inner
        {
            background-color: #000;
            &:before,
            &:after
            {
                background-color: #000;
            }
        }
    }
    .table
    {
        width: 100%;
        height: 100%;
    }

    .info
    {
        padding: 0 3em;
    }
    .modal-title
    {
        padding-bottom: .5em;
    }
    .item
    {
        font-size: .9em;

        padding-bottom: 1.5em;

        color: #fff;
        .title
        {
            padding-bottom: .2em;
        }
        .data
        {
            font-size: 1.200em;
            a
            {
                display: inline-block;

                transition: color $transition_time ease-in-out;

                color: #fff;
                &[href]:hover
                {
                    color: $colors-orange;
                }
            }
        }
    }
    &.is-active
    {
        background: rgba(0,0,0,.5);
        transform: translateY(0);
    }
}

.color-orange{
    color: $colors-orange;
}

.close-icon
{
    position: relative;

    display: inline-block;

    width: 2em;
    height: 2em;

    cursor: pointer;
    &:before,
    &:after
    {
        position: absolute;
        top: 0;
        right: 50%;

        display: inline-block;

        width: 2px;
        height: 2em;

        content: '';
        transition: all $transition_time/2 ease-in-out;

        background-color: #000;
    }
    &:before
    {
        transform: rotate(-45deg);
    }
    &:after
    {
        transform: rotate(45deg);

        background-color: #000;
    }
    &:hover
    {
        //@include transform(rotate(180deg));
        //@include transition(all $transition_time/2 ease-in-out);
        &:before
        {
            transform: rotate(45deg);
        }
        &:after
        {
            transform: rotate(-45deg);
        }
    }
}
