footer
{
    overflow: hidden;

    height: auto;

    background: #ffffff;
    font-size: 0.9em;
    position: relative;
    z-index: 3;
    border-top: 6px solid #f1f1f1;
    .logo
    {
        img
        {
            width: 5.000em;
        }
    }
    .footer-menu
    {
        padding: 2.813em 0;

        color: #aab2b2;
        .list
        {
            a
            {
                cursor: pointer;
                transition: color $transition-time ease-in-out;
                vertical-align: middle;

                color: #a0a0a0;
                i
                {
                    font-size: 1.5em;

                    padding-right: 1em;
                }
                &:hover
                {
                    color: $colors-orange !important;
                }
            }
            .list-title
            {
                font-size: 1.3em;
                font-weight: 400;

                margin-bottom: .8em;

                color: #000;
            }
            ul
            {
                overflow: hidden;

                height: auto;
                padding: .5em 0;

                border-top: 1px solid rgba(0,0,0,0.1);
                border-bottom: 1px solid rgba(0,0,0,0.1);
                li
                {
                    display: inline-block;

                    padding: .688em 0;

                    text-transform: uppercase;
                }
            }
        }

        .navigation
        {   
            ul
            {
                display: table;
                table-layout: fixed;
                width: 100%;
                li{
                    display: table-cell;
                    &.is-active{
                      a{
                          color: $colors-orange;
                      }
                    }
                }
            }
        }

        .social
        {
            ul
            {
                li
                {
                    display: inline-block;
                    padding-right: 0.4em;
                    a
                    {
                        border-radius: 4px;
                        display: inline-block;
                        width: 1.5em;
                        height: 1.5em;
                        text-align: center;
                        line-height: 1.5em;
                        background: #000;
                        i
                        {
                            transition: color $transition_time ease-in-out;
                            color: #fff;
                        }

                        &:hover{
                            i{
                                color: $colors-orange;
                            }
                        }

                    }
                }
            }
        }


    }
    .copy
    {
        padding: 1.4em 0;

        text-align: center;

        color: #777;
        background: #f7f7f7;
        a
        {
            font-weight: 400;

            margin: 0 .3em;

            transition: color $transition-time ease-in-out;

            color: #777;
            &:hover
            {
                color: $colors-orange;
            }
        }
    }
}
