$menu-bg: transparent;

header
{
    position: relative;

    padding-top: $menu-height + 3em;
    padding-bottom: 4em;

     .content
     {
         height: 100%;
         position: relative;
         z-index: 2;
     }

    &.home
    {
        height: 100vh;
        min-height: 20em;
        .container,
        .container > .table
        {
            height: 100%;
        }

        .content
        {
            height: 100%;
        }

        .info
        {
            height: 100%;
            width: 100%;
        }
    }

     &.sample
     {
         //background: url(/app/assets/img/photos/1.jpg);
         //background-size: cover;
         //background-position: center center;
         position: relative;
         padding-top: 8em;
         padding-bottom: 7em;
         z-index: 4;
         .info
         {
             height: 100%;
             width: 100%;
             text-align: left;
             position: relative;
             .title
             {
                 font-family: 'Days One', sans-serif;
                 h1
                 {
                     margin: 0;
                     position: relative;
                     z-index: 2;
                     font-size: 3em; //40px
                     display: inline-block;
                     color: #f3f3f3;
                     //@include fill-gradient();
                 }
                 .shadowed
                 {
                     z-index: 0;
                     font-size: 5em;
                     top: -80%;
                     bottom: 0;
                     left: 0;
                     right: 0;
                     margin: auto;
                     display: inline-block;
                     color: #f7f7f7;
                     position: absolute;
                 }
             }
         }

         &:after{
             content:'';
             position: absolute;
             left: 0;
             right: 0;
             top: 0;
             bottom: 0;
             height: 100%;
             width: 100%;
             background: rgba(127, 127, 127, 0.4);
             //background-image: radial-gradient(rgba(0,0,0,0.5) 23%, transparent 26%);
             //background-size: 3px 3px;
         }
         .menu .menu-wr ul li a{
             color: #f3f3f3;
         }
         .info .title .shadowed{
             color: rgba(255,255,255,0.4);
         }
     }
}

 header .menu, .mobile-menu
 {
     position: absolute;
     z-index: 10;
     top: 0;
     left: 0;
     left: 0;

     width: 100%;
     height: $menu-height;

     background: $menu-bg;
     .menu-wr
     {
         position: relative;
         .logo
         {
             transition: opacity $transition-time ease-in-out;
             img
             {
                 position: relative;
                 top: 0;
                 left: 0;

                 width: 100px;
             }
             &:hover
             {
                 opacity: .7;
             }
         }
         ul
         {
             line-height: $menu-height;

             display: block;

             height: 100%;

             list-style: none;
             li
             {
                 position: relative;

                 display: inline-block;

                 height: 100%;
                 padding-left: 2.500em;
                 a
                 {
                     //font-weight: 300;

                     display: block;

                     height: 100%;

                     cursor: pointer;
                     transition: color $transition_time ease-in-out, border $transition_time ease-in-out;
                     white-space: nowrap;

                     color: #535353;
                     &.btn
                     {
                         line-height: 1 !important;

                         height: auto;
                         margin-left: 2.500em;

                         color: #fff;
                     }
                     &:hover{
                         color: $colors-orange !important;

                     }
                 }
                 &.is-active{
                     a{
                         color: $colors-orange !important;
                     }
                 }

             }
         }
     }
 }
 .mobile-menu{
     display: none;
     visibility: hidden;
 }

 // Mobile nav trigger
 .open-mobile-nav{
     cursor: pointer;
     z-index: 1001;
     display: none;
     position: fixed;
     top: 0;
     right: 0;
     background: rgba(225, 225, 225, 0.39);
     border-bottom-left-radius: 10px;
     padding: 10px 10px 5px 10px;
     &:hover{
         opacity: 1;
     }

 }
 .hamburger-box, .hamburger-inner, .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
     width: 30px;
 }
 .hamburger-inner:before{
     top: -8px;
 }
 .hamburger-inner:after{
     bottom: -8px;
 }
 .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
     height: 2px;
     background-color: #6c6c6c;
 }

 .mobile-logo{
     position: absolute;
     width: 5em;
     z-index: 10;
     top: 0.5em;
     left: 0.5em;
     cursor: pointer;
 }