<div class="page-blog content-zindex-wrap">
    <div class="container">
        <div class="col-xs-12">
            <div class="section">
                <div class="section-title">
                    <h2>Our blog</h2>
                    <div class="shadowed" parallax parallax-ratio="0.1">Our blog</div>
                </div>
            </div>
        </div>

        <div class="clearfix">
            <article class="post type-post not-visible" ng-repeat="post in blogCtrl.posts"
                     data-animation="fadeInUp"
                     when-visible="blogCtrl.animateElementIn">
                <div class="entry col-xs-12">
                    <div class="entry-header">
                        <h2 class="entry-title">
                            <a ui-sref="post({id: post.id, slug: post.slug})" title="" rel="bookmark">
                                {{post.title.rendered}}
                            </a>
                        </h2>
                    </div>
                    <div class="author small">
                        <div class="circle" style="background: url({{post._embedded.author[0].acf.thumb || post._embedded.author[0].avatar_urls[96]}}) center center no-repeat; background-size: cover;"></div>
                        <div class="name">
                            <div class="role">Post author:</div>
                            <div class="data">{{post._embedded.author[0].name}}</div>
                        </div>
                    </div>
                    <div class="entry-summary">
                        <p>
                            {{post.content.rendered | htmlToPlaintext | limitTo:350}}..
                        </p>
                    </div>
                    <div class="entry-meta clearfix">
                        <div class="table">
                            <span class="entry-date cell">{{post.date | date: 'MM/dd/yyyy'}}</span>
                            <span class="link-wr  cell">
                            <a ui-sref="post({id: post.id, slug: post.slug})" class="btn">Read more</a>
                        </span>
                        </div>
                    </div>


                </div>
            </article>
        </div>

        <div class="load-more-wr align-center col-xs-12"
             ng-show="blogCtrl.posts && blogCtrl.posts.length > 0 && blogCtrl.hasMoreItemsToShow()">
            <br>
            <br>
            <a  ng-click="blogCtrl.showMoreItems()"
                class="load-more btn">Load more</a>
        </div>

        <div class="clearfix">
            <div class="empty-msg col-xs-12 not-visible"
                 data-animation="fadeInUp"
                 when-visible="blogCtrl.animateElementIn"
                 ng-if="blogCtrl.posts.length == 0">
                No active posts in the blog
            </div>
        </div>

    </div>
</div>