<div class="page-about page-services content-zindex-wrap">
    <div class="container">

        <div class="section-item" ng-repeat="section in servicesCtrl.model.sections">
            <div class="section col-xs-12">
                <div class="section-title">
                    <h2>{{section.title}}</h2>
                    <div class="shadowed" parallax parallax-ratio="0.1">{{section.title}}</div>
                </div>
            </div>

            <div class="section-item-content col-xs-12">
                <div id="admin-styles">
                    <div  ng-bind-html="section.content | sceTrustAsHtml"></div>
                </div>
            </div>

            <div class="col-xs-12 section-gallery">
                <div class="carousel" ng-if="section.gallery">
                    <slick infinite=true settings="servicesCtrl.slickConfig">
                        <div ng-repeat="item in section.gallery">
                            <a  href="{{item.url}}" rel="gallery01" class="fancybox" fancyboxable>
                                <div class="slide-item">
                                    <img ng-src="{{item.url}}" alt="">
                                </div>
                            </a>
                        </div>
                    </slick>
                </div>
            </div>
        </div>

    </div>
</div>