.page-about{
  padding: 3em 0;

  .section-item{
    padding-bottom: 2em;
    .section-item-content{
      padding: 1em 0;
    }
    .section-gallery{

    }
  }

  .section .section-title{
    margin-bottom: 0;
  }
}