<div class="courses-table light">
    <div class="title-bar">
        <div class="col-xs-6">
            Курс
        </div>
        <div class="col-xs-2">Начало обучения</div>
        <div class="col-xs-2">Стоимость</div>
        <div class="col-xs-2"></div>
    </div>
    <div class="courses-list">
        <div class="course table"
            ng-repeat="course in coursesTableLayoutCtrl.model.courses">
            <div class="course-title-wr col-xs-6 cell">
                <div class="table">
                    <div class="course-img cell">
                        <img img-async-component media="course.thumbID" alt="">
                    </div>
                    <div class="cell">
                        <div class="course-title">{{course.title}}</div>
                        <div class="timing">{{course.durationInHours}} академических часов</div>
                    </div>
                </div>
            </div>
            <div class="info col-xs-2 cell">{{course.startDate || 'TBA'}}</div>
            <div class="info col-xs-2 cell">{{course.price}} грн</div>
            <div class="col-xs-2 cell">
                <a href="" class="btn" 
                ng-class="coursesTableLayoutCtrl.routeColorScheme || 'orange'">Подробнее</a>
            </div>
        </div>


    </div>
</div>