@mixin fill-gradient()
{
    background: $colors-orange;
    background:    -moz-linear-gradient(left, $colors-orange 0%, $colors-orange 31%, $colors-orange 31%, $colors-violet 51%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, $colors-orange 0%,$colors-orange 31%,$colors-orange 31%,$colors-violet 51%); /* Chrome10-25,Safari5.1-6 */
    background:         linear-gradient(to right, $colors-orange 0%,$colors-orange 31%,$colors-orange 31%,$colors-violet 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;


    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        color: $colors-orange !important;
        -webkit-background-clip: initial !important;
        -webkit-text-fill-color: initial !important;
        background: transparent !important;
    }
}

@mixin img-fit-wrapper()
{
    position: relative;
    top: 50%;
    left: 50%;

    display: block;

    width: auto;
    width: 100%;
    min-width: 100%;
    max-width: 150%;
    height: auto;
    min-height: 100%;
    max-height: none;

    transform: translate(-50%, -50%);
}
