<!-- Starts Contact modal -->
<div class="contact-modal modal-template" ng-class="{'is-active': modalCtrl.modalIsActive}">
   <span  ng-click="modalCtrl.toggleModal()"  class="close close-contact-modal">
      <i  class="close-thanks-modal close-icon hover-white"></i>
   </span>
   <div class="table section">
      <div class="form cell clearfix col-xs-12 col-sm-6">
         <div class="modal-title col-xs-12">
            <div class="section-title-wr">
               <div class="section-title v2">
                  Оставить заявку
               </div>
            </div>
         </div>
         <div class="form-wr">
            <div class="input-wr col-xs-12 ">
               <input type="text" placeholder="Имя">
            </div>
            <div class="input-wr col-xs-12 ">
               <input type="text" placeholder="Email">
            </div>
            <div class="input-wr col-xs-12">
               <textarea placeholder="Сообщение" name="" id="" cols="5" rows="5"></textarea>
            </div>
            <div class="input-wr col-xs-12">
               <input type="submit" value="Отправить" class="btn orange">
            </div>
         </div>
      </div>
      <div class="info cell  clearfix col-xs-12 col-sm-6">
         <div class="col-xs-12">
            <div class="section-title-wr">
               <div class="section-title v2">
                  Хотите что-то уточнить?
               </div>
            </div>
         </div>
         <div class="item col-xs-12">
            <div class="title">
               Наши менеджеры ответят на любой Ваш вопрос по телефону:
            </div>
            <div class="data">
               <a href="callto:+31202611942">+31 20 261 19 42</a>
            </div>
         </div>
         <div class="item col-xs-12">
            <div class="title">
               Отправьте Ваш вопрос на наш почтовый ящик:
            </div>
            <div class="data">
               <a href="mailto:info@appfellas.com">sup@horizon.com</a>
            </div>
         </div>
         <div class="item col-xs-12">
            <div class="title">
               Или приходите в гости:
            </div>
            <div class="data">
               Киев <br>
               ул. Евгения Коновальца 36д
            </div>
         </div>
         
         
      </div>
   </div>
</div>
<!-- Ends Contact modal -->